body,
html {
	padding: 0;
	margin: 0;
	width: 100vw;
	height: 100vh;
}

* {
	outline-color: transparent;
	outline: none;
	box-sizing: border-box;
}

#app {
	font-family: sans-serif;
	min-height: 100vh;
}

#app.dark {
	--bg-sub: #131313;
	--bg: #171717;
	--surface0: #1e1e1e;
	--surface1: #2b2b2b;
	--surface2: #333333;
	--surface3: #3b3b3b;
	--surface4: #444444;
	--surface5: #4c4c4c;
	--surface6: #555555;
	--link: #7c98f6;
	--error: #f02424;
	--success: #84f084;
	--fg: #f0f0f0;
	--fg2: #e0e0e0;
	--fg3: #d0d0d0;
	--fg4: #c0c0c0;
	--fg5: #b0b0b0;
	--fg6: #a0a0a0;
}

#app.light {
	--bg-sub: #fafafa;
	--bg: #f0f0f0;
	--surface0: #e0e0e0;
	--surface1: #d0d0d0;
	--surface2: #c0c0c0;
	--surface3: #b0b0b0;
	--surface4: #a0a0a0;
	--surface5: #909090;
	--surface6: #808080;
	--link: #6097f0;
	--error: #e43e3e;
	--success: #14b614;
	--fg: #171717;
	--fg2: #2b2b2b;
	--fg3: #3b3b3b;
	--fg4: #4c4c4c;
	--fg5: #555555;
	--fg6: #5f5f5f;
}

h1 {
	margin: 0.5rem 0;
}

a {
	color: var(--link);
}

#app.light a:hover {
	color: color-mix(in srgb, var(--link), #000000 50%);
}

#app.dark a:hover {
	color: color-mix(in srgb, var(--link), #ffffff 50%);
}
